/*Overall Section*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fffdf5;
}

/* NAVIGATION SECTION */

a {
  text-decoration: none;
}

ul {
  list-style: none; /*removes the bullet points*/
}

.nav-bar {
  background-color: lightgreen;
  max-width: 70%;
  margin-left: auto;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  background-color: aquamarine;
  height: 50vh;
  padding: 25px;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.left-image {
  display: flex;
  align-self: flex-end;
}

.middle-text {
  max-width: 600px;
  text-wrap: wrap;
  overflow: hidden;
}

.middle-text .coloured,
.section-3 .coloured {
  color: red !important;
}

.middle-text h1 {
  font-size: 52px;
  font-weight: 100;
}

/*BUTTON SECTION*/

.enroll-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input {
  width: 8vw;
  height: 5vh;
  border-radius: 50px;
  background-color: red;
  color: white;
  border: 0.1px solid rgb(201, 31, 31);
  font-size: 14px;
}

/*HERO SECTION FOOTER */

.top-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 100px;
  background-color: lightcoral;
  height: 190px;
  align-items: center;
}

.left-text {
  font-weight: 550;
  font-size: 20px;
}

.middle--text {
  font-size: 12px;
  color: lightgrey;
}

.right-text a {
  text-decoration: underline;
  cursor: pointer;
}

.left-text,
.right-text {
  width: 30%;
}

span {
  border: 1px solid lightgrey;
  display: block;
  height: 0;
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}

/* GRID SECTION */

.grid_text {
  padding: 20px;
  color: red;
  font-size: 23px;
  margin-left: 80px;
}

.grid_section {
  display: flex;
  gap: 100px;
  background-color: lightskyblue;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}

.grid_section img {
  display: flex;
  align-self: flex-end;
}

.grid_section h2 {
  max-width: 45%;
  line-height: 40px;
  padding: 20px;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 550;
}

.grid__section {
  background-color: limegreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 30px;
  row-gap: 80px;
  margin-bottom: 100px;
}

.item-1 {
  border: 1px solid lightgrey;
  padding: 30px;
  min-height: 50vh;
  min-width: 10vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: red;
  color: white;
  transition: transform ease 900ms;
}

.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  border: 1px solid lightgrey;
  padding: 30px;
  min-height: 50vh;
  min-width: 10vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 5px 20px 5px #555;
  transition: transform ease 900ms;
}

.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover,
.item-6:hover {
  box-shadow: 0px 5px 20px 5px #555;
  transform: translate(0, -20px);
}

.number {
  font-size: 60px;
}

.item-text {
  font-weight: 300;
  font-size: 32px;
}

/* SECTION 1 */

.section-1 {
  background-color: red;
  min-height: 50vh;
  padding: 80px;
  line-height: 50px;
  color: white;
}

.section-text h1 {
  font-size: 42px;
}

.btn {
  background-color: white;
  color: red;
  font-size: 16px;
}

.section-1 .enroll-button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.section-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 35%;
  margin-top: 10px;
  row-gap: 10px;
  align-items: center;
}

input.btn-1 {
  width: 12vw;
  border: 2px solid white;
}

/* SECTION 2 */

.section-2-text {
  text-align: center;
  padding: 20px;
  line-height: 30px;
  margin-top: 100px;
}
.section-2-text p {
  color: red;
  font-size: 25px;
}

.section-2-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 40px;
  padding: 50px;
}

.item--1,
.item--2,
.item--3,
.item--4,
.item--5,
.item--6 {
  border: 1px solid lightgrey;
  max-width: 90%;
  min-height: 20vh;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* SECTION 3 */

.section-3-text {
  text-align: center;
  padding: 20px;
  margin-bottom: 150px;
  margin-top: 150px;
}

.section-3-text h2 {
  font-size: 48px;
}

.section-3-text p {
  font-size: 32px;
}

.section-3-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-1,
.table-2,
.table-3,
.table-4,
.table-5,
.table-6 {
  padding: 15px;
  font-weight: 300;
  border: 1px solid lightgrey;
}

td {
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  border-collapse: collapse; /* This removed the small gaps between table rows and columns*/
}

/* Remove the vertical line between the columns */
.left-col {
  border-right: none;
}

.right-col {
  border-left: none;
}

.twitter-button {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  width: fit-content;
  height: 5vh;
  border-radius: 50px;
  background-color: red;
  color: white;
  border: 0.1px solid rgb(201, 31, 31);
}

.twitter-button i {
  margin-right: 5px;
}

.section-3-questions {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.section-4-container {
  display: flex;
  background-color: aqua;
  margin-top: 50px;
  gap: 50px;
  padding: 50px;
  justify-self: center;
}

.right-item,
.left-item {
  border: 1px solid lightgrey;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
  line-height: 30px;
}

.section-4-text {
  text-align: center;
  margin-top: 20px;
}

.section-5 {
  background-color: red;
  color: white;
  min-height: 40vh;
  padding: 50px;
}

.section-5-text {
  border: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  min-height: 35vh;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  gap: 300px;
  background-color: lightgreen;
  padding: 25px;
}

.left-footer {
  margin-left: 60px;
}

.right-footer {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
